<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title><%= title%>-云量检测</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/weui/weui@2.4.4/dist/style/weui.min.css">
    <script src="https://cdn.bootcss.com/jquery/3.5.0/jquery.min.js"></script>
    <style media="screen">
      html, body {
        height: 100%;
        width: 100%;
      }
        body {
          background-position: center bottom;
          background-size: 100% auto;
          background-repeat: no-repeat;
        }
        .tiannfu_form {
          padding: 5vw;
        }
        b.red, .require {
          color: red;
        }
        b.green{
          color: #4d8d56;
        }
        b.blue {
          color: #14417e
        }
        .tiannfu_form > h2 {
          font-size: 5vw;
          line-height: 2;
          text-align: left;
        }
        .tiannfu_form > h4 {
          font-size: 5vw;
          line-height: 2;
          text-align: left;
          color: red;
        }
        .tiannfu_form > h2 > p {
          font-size: 5vw;
          font-weight: normal;
          text-shadow: 0 0 0px #d9d9d9;
        }
        .detail {
          padding: 0 5vw;
          font-size: 5vw;
          text-align: justify;
        }
        .detail em {
          font-style: normal;
          font-weight: bold;
        }
        .agree-info {
          text-align: center;
          padding: 10vw;
        }
        .showAgreeDialog {
          text-decoration: underline;
        }
    </style>
  </head>
  <body>
    <div>
        <form class="tiannfu_form">
          <div>
            <img width="100%" src="/uploads/<%= thumb %>" />
          </div>
          <h2><%= title %></h2>
          <h4>￥<%= price %></h4>
        </form>
        <div class="detail">
          <%- html %>
        </div>
        <form class="weui-form">
          <div class="weui-form_control-area">
            <div class="weui-cells__group weui-cells__group_form">
              <div class="weui-cells__title">订购信息</div>
              <div class="weui-cells weui-cells_form">
                <div class="weui-cell weui-cell_active">
                  <div class="weui-cell__hd"><label class="weui-label"><span class="require">*</span>姓名</label></div>
                  <div class="weui-cell__bd">
                      <input id="js_input" name="username" class="weui-input" placeholder=""/>
                  </div>
                </div>
                <div class="weui-cell weui-cell_active">
                  <div class="weui-cell__hd"><label class="weui-label"><span class="require">*</span>手机号码</label></div>
                  <div class="weui-cell__bd">
                      <input id="js_input" class="weui-input" name="phone" placeholder="必填"/>
                  </div>
                </div>
                <div class="weui-cell weui-cell_active weui-cell_access" id="showCityPicker">
                  <div class="weui-cell__hd"><span class="require">*</span>省/市/区域</div>
                  <div class="weui-cell__bd address"></div>
                </div>
                <div class="weui-cell weui-cell_active">
                  <div class="weui-cell__hd"><label class="weui-label"><span class="require">*</span>详细地址</label></div>
                  <div class="weui-cell__bd">
                      <input id="js_input" class="weui-input" name="addressDetail" placeholder="必填"/>
                  </div>
                </div>
              </div>
              <% if (agent) { %>
                <div class="weui-cell weui-cell_active weui-cell_select weui-cell_select-after">
                  <div class="weui-cell__hd">
                      <label for="" class="weui-label"><span class="require">*</span>编号</label>
                  </div>
                  <div class="weui-cell__bd">
                      <select class="weui-select" name="agent" id="sameAgent">
                      </select>
                  </div>
                </div>
              <% } %>
            </div>
          </div>
          <div class="weui-form__opr-area" style="margin-top: 10vw;">
            <button type="button" id="submitOrder" class="weui-btn weui-btn_primary">提交</button>
          </div>
        </form>
    </div>
  </body>
  <script src="https://res.wx.qq.com/open/libs/weuijs/1.2.1/weui.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src="/js/addrData.js"></script>
  <script>
    $(function() {
      if (!!'<%= agent %>') {
        $.get('/sameAgent/<%= agent %>', function (res) {
          let str = '';
          for(let i = 0; i < res.data.length; i++) {
            str += `<option value="${res.data[i]._id}">${res.data[i].contact}</option>`
          }
          $('#sameAgent').html(str);
        })
      }
    })

    $('#showCityPicker').on('click', function () {
      weui.picker(window.addrData, {
        // className: 'city-spicker',
        container: 'body',
        defaultValue: [0],
        depth: 3,
        onChange: (result) => {
            
        },
        onConfirm: function (result) {
            $('.address').html(result.map(v => v.label).join(' '))
        },
        title: '请选择'
      });
    });

    $('#submitOrder').on('click', function() {
      const form = $('.weui-form')[0];
      const phone = form.phone.value;
      const username = form.username.value;
      const address = $('.address').html() + form.addressDetail.value;
      const aid = form.agent.value;
      if (!/^([1][3,4,5,6,7,8,9])\d{9}$/.test(phone)) {
        weui.topTips('手机号码不合法');
        return;
      }
      if (!username) {
        weui.topTips('姓名必填');
        return;
      }
      if (!!'<%= agent %>' && !aid) {
        weui.topTips('必须选择正确的编号哦');
        return;
      }
      const loading = weui.loading('订单创建中');
      $.post('/order/create', {
        goodId: '<%= _id %>',
        username,
        phone,
        address,
        payChannel: 1, // 微信支付
        aid,
      }, function(res) {
        loading.hide();
        if (res.code === 0) {
          location.href = '/wxcode/get?uri=' + encodeURIComponent(`https://api.verlantum.cn/wxpay?orderNo=${res.data.orderNo}`)
        }
      })
    })
  </script>
</html>
