<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>我的订单-云量检测</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/weui/weui@2.4.4/dist/style/weui.min.css">
    <script src="https://cdn.bootcss.com/jquery/3.5.0/jquery.min.js"></script>
    <style media="screen">
      html, body {
        height: 100%;
        width: 100%;
      }
      .tiannfu_form {
        padding: 5vw;
      }
      b.red, .require {
        color: red;
      }
      b.green{
        color: #4d8d56;
      }
      b.blue {
        color: #14417e
      }
      .tiannfu_form > h2 {
        font-size: 5vw;
        line-height: 2;
        text-align: left;
      }
      .tiannfu_form > h4 {
        font-size: 4vw;
        line-height: 2;
        text-align: left;
        color: red;
      }
      .tiannfu_form > h2 > p {
        font-size: 4vw;
        font-weight: normal;
        text-shadow: 0 0 0px #d9d9d9;
      }
      .detail {
        padding: 0 5vw;
        font-size: 4vw;
        text-align: justify;
      }
      .detail em {
        font-style: normal;
        font-weight: bold;
      }
      .agree-info {
        text-align: center;
        padding: 10vw;
      }
      .showAgreeDialog {
        text-decoration: underline;
      }
      .weui-panel_access {
        position: relative;
      }
      .weui-panel_access span.tip {
        position: absolute;
        right: 1vw;
        top: 1vw;
        font-size: 3vw;
        background-color: #4d8d56;
        color: #fff;
        padding: 1vw;
      }
    </style>
  </head>
  <body>
    <% if (orders) { %>
      <% orders.forEach(function(order) { %>
        <div class="weui-panel weui-panel_access">
            <% if (order.sended === 1) { %>
              <span class="tip">已发货</span>
            <% } else if (order.hasPayed === 1) %>
              <span class="tip">已付款</span>
            <% } %>
          </span>
          <div class="weui-panel__bd">
              <div class="weui-media-box weui-media-box_appmsg">
                <div class="weui-media-box__hd">
                  <img style="width: 60px" src="/uploads/<%= order.goodNumber.thumb%>" />
                </div>
                <div class="weui-media-box__bd">
                  <h6 class="weui-media-box__title"><%= order.goodNumber.title %></h6>
                  <p class="weui-media-box__desc">价格: ￥<%= order.payTotal %></p>
                  <p class="weui-media-box__desc">下单时间: <%= order.createdAt %></p>
                </div>
              </div>
          </div>
          <div class="weui-panel__ft">
            <a href="javascript:void(0);" onclick="linkToTicket('<%= order._id %>')" class="weui-cell weui-cell_active weui-cell_access weui-cell_link" style="text-align: center;">
              <div class="weui-cell__bd">申请发票</div>
            </a>
            <% if (order.reportPath) { %>
              <a href="/uploads/<%= order.reportPath %>" class="weui-cell weui-cell_active weui-cell_access weui-cell_link" style="text-align: center;">
                <div class="weui-cell__bd">报告下载</div>
              </a>
            <% } %>
          </div>
        </div>
      <% }) %>
      <% } else { %>
        没有订单
      <% } %>
  </body>
  <script src="https://res.wx.qq.com/open/libs/weuijs/1.2.1/weui.min.js"></script>
  <script>
    function linkToTicket(id) {
      location.href = `/ticket/apply/${id}`
    }
  </script>
</html>
