<!DOCTYPE html>
<html>
  <head>
    <title>云量科技</title>
    <script src="https://cdn.bootcss.com/jquery/1.8.0/jquery.min.js"></script>
    <script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
    <link rel="stylesheet" href="/stylesheets/payment.css">
    <script type="text/javascript">
        var fontSizeAuto = function () {
            var viewportWidth = document.documentElement.clientWidth;
            if (viewportWidth > 640) { viewportWidth = 640; }
            if (viewportWidth < 320) { viewportWidth = 320; }
            document.documentElement.style.fontSize = viewportWidth / 6.4 + 'px';
        }
        fontSizeAuto();
        window.onresize = fontSizeAuto;
    </script>
    <script>
      const ua = window.navigator.userAgent.toLowerCase();
    	if(ua.match(/Alipay/i)=="alipay"){
          document.write('支付宝')
    	    location.href = '/alipay?aid=<%= aid%>&price=<%= price%>&ratio<%= ratio%>';
    	}else if(ua.match(/MicroMessenger/i)=="micromessenger"){
          if(!/code=/.test(location.search)) {
            location.href = '/wxcode/get?uri=' + encodeURIComponent('https://api.verlantum.cn/wxpay?params=' + window.btoa(location.search.slice(1)))
          }
          // location.href = 'https://open.weixin.qq.com/connect/oauth2/authorize?appid=APPID&redirect_uri='+encodeURIComponent(location.href)+'&response_type=code&scope=snsapi_base&state=STATE#wechat_redirec'
          // $.get('/wxpay', {aid:'<%= aid%>', price:'<%= price%>', ratio:'<%= ratio%>'}, (res, statu) => {
          //   console.log(res, statu)
          // })
    	}else{
    		document.write('无法识别的设备')
    	}
    </script>
  </head>
  <body>
    <div class="alipay payment">
        <img src="/images/pay.png" alt="">
        <p>正在支付中...</p>
        <div class="phone">
            <p>感谢您选择云量科技</p>
            <p>客服电话：020-83987201</p>
        </div>
        <div class="official_account">
            <p>微信公众号：云量检测</p>
        </div>
    </div>
  </body>
</html>
